@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel{
    justify-content: center;
}

.carousel .slide img {
    max-height: 450px;  /* change this to whatever you want */
    width: auto;
}